body {
    margin: 0;
}
#outer-box{
    position: relative;
    width: 100%;
    height: calc(1080*100vw/1920);
    overflow: hidden;
}

#background {
    /* background-image: url("../img/background.jpg"); */
    background-image: url("../img/background_no_obj.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(1080*100vw/1920);
}


/*===========Popup===========*/
.covestro-popup {
    position: relative;
    /* height: calc(550*100vw/1920); */
    border-radius: calc(20*100vw/1920);
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

.covestro-popup .close img {
    width: calc(40*100vw/1920);
    height: calc(40*100vw/1920);
    position: absolute;
    right: calc(-20*100vw/1920);
    top: calc(-50*100vw/1920);
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, .3));
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, .3));
}

.covestro-popup #title {
    color: #000000;
    margin: calc(30*100vw/1920) calc(10*100vw/1920) calc(40*100vw/1920) calc(10*100vw/1920);
}

.covestro-popup #description {
    color: #000000;
    text-align: left;
    margin: calc(40*100vw/1920) calc(10*100vw/1920) calc(40*100vw/1920) calc(10*100vw/1920);
}

.covestro-popup #image img {
    height: calc(80*100vw/1920);
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #ffffff;
}


/*===========Theme============*/
/* covestro */
.tippy-tooltip.covestro-theme {
    background-color: #ffffff;
    border-radius: calc(20*100vw/1920);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

.tippy-tooltip.covestro-theme #title {
    font-weight: bold;
    font-size: calc(22*100vw/1920);
}

.tippy-tooltip.covestro-theme #description {
    font-size: calc(16*100vw/1920);
    line-height: calc(20*100vw/1920);
}


/* object */

.tippy-tooltip.object-theme {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*==========Button=========*/
.btn {
    border: none;
    border-radius: 50%;
    width: calc(45*100vw/1920);
    height: calc(45*100vw/1920);
    padding: 0px;
    cursor: pointer;
    position: absolute;
    font-size: calc(18*100vw/1920);
    background-color: rgba(149, 165, 166, 0.8);
    color: #ffffff;
    z-index: 9999;
}

#btn1 {
    top: calc(340*100vw/1920);
    left: calc(770*100vw/1920);
}

#btn2 {
    top: calc(585*100vw/1920);
    left: calc(398*100vw/1920);
}

#btn3 {
    top: calc(126*100vw/1920);
    left: calc(1152*100vw/1920);
}

#btn4 {
    top: calc(738*100vw/1920);
    left: calc(1523*100vw/1920);
}

#btn5 {
    top: calc(275*100vw/1920);
    left: calc(1228*100vw/1920);
}

#btn6 {
    top: calc(720*100vw/1920);
    left: calc(586*100vw/1920);
}

#btn7 {
    top: calc(893*100vw/1920);
    left: calc(766*100vw/1920);
}

#btn8 {
    top: calc(325*100vw/1920);
    left: calc(1561*100vw/1920);
}

#btn9 {
    top: calc(585*100vw/1920);
    left: calc(205*100vw/1920);
}

#btn10 {
    top: calc(85*100vw/1920);
    left: calc(91*100vw/1920);
}

#btn11 {
    top: calc(535*100vw/1920);
    left: calc(781*100vw/1920);
}

#btn12 {
    top: calc(575*100vw/1920);
    left: calc(680*100vw/1920);
}

#btn13 {
    top: calc(845*100vw/1920);
    left: calc(549*100vw/1920);
}

#btn14 {
    top: calc(323*100vw/1920);
    left: calc(1050*100vw/1920);
}

#btn15 {
    top: calc(826*100vw/1920);
    left: calc(670*100vw/1920);
}

#btn16{
    top: calc(913*100vw/1920);
    left: calc(670*100vw/1920);
}

#btn17 {
    top: calc(557*100vw/1920);
    left: calc(1201*100vw/1920);
}

#btn18 {
    top: calc(535*100vw/1920);
    left: calc(1300*100vw/1920);
}

#btn19 {
    top: calc(873*100vw/1920);
    left: calc(925*100vw/1920);
}

#btn20 {
    top: calc(358*100vw/1920);
    left: calc(1185*100vw/1920);
}
#btn27 {
    top: calc(397*100vw/1920);
    left: calc(1276*100vw/1920);
}


/*****25******/
#btn25 {
    top: calc(855*100vw/1920);
    left:calc( 80*100vw/1920);
}
#btn26 {
    top: calc(890*100vw/1920);
    left: calc(420*100vw/1920);
}
#btn21 {
    top: calc(1003*100vw/1920);
    left: calc(1015*100vw/1920);
}


/*-----22-----*/
#btn22 {
    top: calc(867*100vw/1920);
    left: calc(1485*100vw/1920);
}
#btn23 {
    top: calc(950*100vw/1920);
    left: calc(1443*100vw/1920);
}
#btn24 {
    top: calc(789*100vw/1920);
    left: calc(291*100vw/1920);
}


/*==========Object=========*/
.covestro-object {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.covestro-object .show {
    visibility: visible;
}

.covestro-object .hide {
    visibility: hidden;
}

.covestro-object img {
    position: absolute;
    width: 100%;
    text-align: center;
}

#object-template1 {
    width: calc(100*100vw/1920);
    top: calc(327*100vw/1920);
    left: calc(753*100vw/1920);
}
#object-template2 {
    width: calc(150*100vw/1920);
    top: calc(637*100vw/1920);
    left: calc(331*100vw/1920);
}
#object-template3 {
    width: calc(214*100vw/1920);
    top: calc(166*100vw/1920);
    left: calc(1233*100vw/1920);
}
#object-template4 {
    width: calc(267*100vw/1920);
    top: calc(825*100vw/1920);
    left: calc(1329*100vw/1920);
}
#object-template5 {
    width: calc(118*100vw/1920);
    top: calc(352*100vw/1920);
    left: calc(1239*100vw/1920);
}
#object-template6 {
    width: calc(145*100vw/1920);
    top: calc(763*100vw/1920);
    left: calc(613*100vw/1920);
}
#object-template6 .hide{
    width: calc(157*100vw/1920);
}
#object-template7 {
    width: calc(100*100vw/1920);
    top: calc(940*100vw/1920);
    left: calc(797*100vw/1920);
}
#object-template8 {
    width: calc(556*100vw/1920);
    top: calc(567*100vw/1920);
    left: calc(1295*100vw/1920);
}
#object-template9 {
    width: calc(176*100vw/1920);
    top: calc(638*100vw/1920);
    left: calc(184*100vw/1920);
}
#object-template10 {
    width: calc(216*100vw/1920);
    top: calc(136*100vw/1920);
    left: calc(123*100vw/1920);
}
#object-template11 {
    width: calc(252*100vw/1920);
    top: calc(611*100vw/1920);
    left: calc(702*100vw/1920);
}
#object-template11 .hide{
    width: calc(286*100vw/1920);
    top: calc(-151*100vw/1920);
    left: calc(-15*100vw/1920);
}
#object-template12 {
    width: calc(33*100vw/1920);
    top: calc(627*100vw/1920);
    left: calc(696*100vw/1920);
}
#object-template13 {
    width: calc(284*100vw/1920);
    top: calc(892*100vw/1920);
    left: calc(502*100vw/1920);
}
#object-template14 {
    width:calc(69*100vw/1920);
    top: calc(338*100vw/1920);
    left: calc(978*100vw/1920);
}
#object-template15 {
    width: calc(284*100vw/1920);
    top: calc(892*100vw/1920);
    left: calc(502*100vw/1920);
}
#object-template16 {
    width: calc(276*100vw/1920);
    top: calc(885*100vw/1920);
    left: calc(494*100vw/1920);
}
#object-template17 {
    width: calc(226*100vw/1920);
    top: calc(640*100vw/1920);
    left: calc(1149*100vw/1920);
}
#object-template17 .hide{
    width: calc(145*100vw/1920);
    top: calc(-117*100vw/1920);
    left: calc(35*100vw/1920);
}
#object-template18 {
    width: calc(33*100vw/1920);
    top: calc(588*100vw/1920);
    left: calc(1282*100vw/1920);
}
#object-template19 {
    width: calc(237*100vw/1920);
    top: calc(953*100vw/1920);
    left: calc(899*100vw/1920);
    z-index: 10;
}
#object-template19 .hide{
    width: calc(218*100vw/1920);
}
#object-template20 {
    width:calc(65*100vw/1920);
    top: calc(411*100vw/1920);
    left: calc(1147*100vw/1920);
}
#object-template21 {
    width: calc(160*100vw/1920);
    top: calc(907*100vw/1920);
    left: calc(915*100vw/1920);
    
}
#object-template21 .hide{
    width: calc(135*100vw/1920);
}
#object-template22 {
    width: calc(223*100vw/1920);
    top: calc(924*100vw/1920);
    left: calc(1449*100vw/1920);
}
#object-template22 .hide{
    width: calc(103*100vw/1920);
    left: calc(57*100vw/1920);
}
#object-template23 {
    width: calc(71*100vw/1920);
    top: calc(984*100vw/1920);
    left: calc(1476*100vw/1920);
}
#object-template24 {
    width: calc(548*100vw/1920);
    top: calc(912*100vw/1920);
    left: calc(33*100vw/1920);
}
#object-template25 {
    width: calc(548*100vw/1920);
    top: calc(912*100vw/1920);
    left: calc(18*100vw/1920);
}
#object-template26 {
    width: calc(548*100vw/1920);
    top: calc(912*100vw/1920);
    left: calc(18*100vw/1920);
}
#object-template27 {
    width: calc(153*100vw/1920);
    top: calc(459*100vw/1920);
    left: calc(1222*100vw/1920);
}